<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navbar">
    <nav class="navbar">
        <div class="container">

            <!-- Navigation Menu -->
            <ul class="navbar-menu">
                <!-- Home Page -->
                <li><a href="/" th:href="@{/}">Home</a></li>

                <!-- Create Claim Page -->
                <li><a href="/create-claim" th:href="@{/create-claim}">Create Claim</a></li>

                <!-- View Claims Page -->
                <li><a href="/view-claims" th:href="@{/view-claims}">View Claims</a></li>

                <!-- Update Claim Page -->
                <li><a href="/update-claims/2" th:href="@{/update-claims/2}">Update Claims</a></li>

                <!-- Upload document Page -->
                <li><a href="/upload-document" th:href="@{/upload-document}">Upload Document</a></li>

                <!-- User Profile Page -->
                <li><a href="/user-profile" th:href="@{/user-profile}">User Profile</a></li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
